.footer {
   background-color: rgb(0, 0, 0);
   padding: 70px 15px;
   color: $footer-main-color;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;


   @media (max-width: 768px) {
      padding: 56px 15px;
   }
   @media (max-width: 768px) {
      padding: 38px 15px 47px;
   }
}

.footer__title {
   
   @include section-title(rgb(254, 254, 254), $pseudo-place: "both");
   margin-bottom: 22px;

   @media (max-width: 590px) {
      font-size: 14px;
   }
}

.footer__text {
   line-height: 28px;
   margin-bottom: 37px;
   max-width: 690px;

   @media (max-width: 590px) {
      font-size: 14px;
      &--last{
         display: none;
      }
   }
}

.socials-list {
   display: flex;
   margin-bottom: 34px;
}

.socials-list__item + .socials-list__item {
   margin-left: 5px;
}
.contacts {
   line-height: 24px;
   display: flex;
   @media (max-width: 708px) {
      flex-direction: column;
   }
   @media (max-width: 590px) {
      font-size: 14px;
   }
}

.contacts__adress {
   margin-right: 20px;
   position: relative;

   &::after {
      content: "/";
      position: absolute;
      right: -13px;
   }

   @media (max-width: 708px) {
      margin-right: 0;
   }
}

.contacts__phone {
   margin-right: 20px;
   position: relative;

   &::after {
      content: "/";
      position: absolute;
      right: -13px;
   }

   @media (max-width: 708px) {
      margin-right: 0;

      &::after {
         right: 13px;
      }
   }
}
