*{
   box-sizing: border-box;
}
body {
   font-family: "Roboto", "Arial", sans-serif;
   color: $main-color;
}

//контейнер увеличен на ширину падингов 
.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
   position: relative;
}

