// Меню список
.menu {
   display: flex;
   justify-content: space-between;
   padding: 0 179px;

   @media (max-width: 900px) {
      padding: 0 75px;
   }
   @media (max-width: 650px) {
      padding: 0 35px;
   }
   @media (max-width: 768px) {
      min-width: 182px;
      //  меню скрыто
      & {
         position: absolute;
         right: 15px;
         top: 37px;
         flex-direction: column;
         background-color: rgb(245, 245, 245);
         transform: translateY(-500px);
         opacity: 0;
         transition: transform 0.4s, opacity 1s;
         padding: 0;
      }
      // меню выпало
      &--open {
         transform: translateY(0);
         opacity: 1;
         transition: transform 0.4s, opacity 1s;
         z-index: 2;
      }
   }
}

// Ссылки в меню
.menu__link {
   display: block;
   padding: 15px 0;
   font-size: 11px;
   line-height: 22px;
   text-transform: uppercase;
   color: $main-color;
   transition: color 0.3s;

   &--active {
      color: rgba(87, 164, 164, 1);
   }
   @media (min-width: 551px) {
      &:hover {
         color: rgb(9, 231, 209);
      }
   }

   @media (max-width: 768px) {
      display: block;
      padding: 4px 0;
      padding-left: 12px;

      &:hover {
         background-color: rgb(229, 229, 229);
      }
   }
}

// Кнопка бургер
.burger {
   width: 44px;
   height: 37px;
   background-color: #000;
   position: absolute;
   right: 15px;
   cursor: pointer;
   display: none;

   @media (max-width: 768px) {
      & {
         display: block;
      }
   }
}

// Линий бургера
.burger__line {
   position: absolute;
   top: 17px;
   left: 13px;
   width: 17px;
   height: 2px;
   background-color: #fff;
   transition: transform 0.4s;

   // 3 полоски бургера
   &::before,
   &::after {
      background-color: #fff;
      transition: transform 0.2s;
      left: 0;

      @include pseudo-el(17px, 2px);
   }

   &::before {
      top: -4px;
   }

   &::after {
      top: 4px;
   }

   // крестик
   &--open {
      transition: transform 0.4s;
      background-color: transparent;
      transform: rotate(90deg);
   }

   &--open::before,
   &--open::after {
      top: 0;
      left: 0;
      transition: transform 0.2s;
   }

   &--open::before {
      transform: rotate(45deg);
   }

   &--open::after {
      transform: rotate(-45deg);
   }
}
