.post {
   @media (max-width: 470px) {
      &:nth-child(4) {
         display: none;
      }
   }
}
.posts__title {
   @include section-title($main-color);
   line-height: 22px;
   margin-bottom: 24px;
   
   @media (max-width: 590px) {
      font-size: 14px;
   }
}
.posts__list {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 43px;
   row-gap: 32px;

   @media (max-width: 990px) {
      grid-template-columns: minmax(232px, 555px);
   }
}

.post__link {
   display: flex;

   @media (max-width: 470px) {
      flex-direction: column;
   }
}
.post__img {
   margin-right: 19px;

   @media (max-width: 470px) {
      margin-bottom: 12px;
   }
}

.post__subtitle {
   color: $main-color;
   margin-bottom: 5px;
   font-weight: 700;
   line-height: 30px;

   @media (max-width: 590px) {
      font-size: 14px;
   }
}
.post__details {
   font-size: 12px;
   color: $subtitle-color;
   margin-bottom: 6px;

   @media (max-width: 590px) {
      font-size: 11px;
   }
}
.post__comment {
   margin-left: 23px;
   position: relative;

   &::before {
      content: "/";
      position: absolute;
      left: -12px;
   }
}
.post__text {
   font-size: 14px;
   line-height: 26px;
   color: rgb(92, 92, 92);

   @media (max-width: 590px) {
      font-size: 13px;
   }
   @media (max-width: 470px) {
      display: none;
   }
}
