// Навигация
.header__nav {
   @media (min-width: 768px) {
      margin: 28px 0 34px;
   }
   @media (min-width: 320px) and (max-width: 768px) {
      margin: 23px 0 28px;
   }
   @media (max-width: 768px) {
      margin-top: 23px;
   }
}

// Блок навигация и картинка
.page__header {
   @media (min-width: 768px) {
      margin-bottom: 69px;
   }
   @media (min-width: 320px) {
      margin-bottom: 59px;
   }
   @media (max-width: 470px) {
      margin-bottom: 42px;
   }
}

// Блок посты

.page__posts {
   margin-bottom: 70px;

   @media (max-width: 768px) {
      margin-bottom: 60px;
   }
   @media (max-width: 390px) {
      margin-bottom: 43px;
   }
}
